[submodule "liquidprompt"]
	path = liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule "config/awesome/awesome-freedesktop"]
	path = config/awesome/awesome-freedesktop
	url = git@github.com:terceiro/awesome-freedesktop.git
